<!doctype html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/upload.css" />
        <link rel="icon" href="/static/zpi-icon.svg" />
        <title>ZPI</title>
    </head>
    <body>
        <div class="main-container">
            <p id="site-label"></p>

            <img id="current-pfp" src="/image/{{user_id}}?placeholder=true" alt="Current Pfp" />

            <button id="reset-btn" class="btn btn-primary" onclick="resetImage()">
                <img class="icon" src="/static/reset.svg" alt="Reset Icon" />Reset
            </button>

            <h1>
                {{username}}
                <a href="/logout"
                    ><img id="logout-icon" class="icon" src="/static/logout.svg" alt="Logout Icon"
                /></a>
            </h1>
            <div id="submit-box">
                <img id="image-file" src="/static/preview.svg" alt="Pfp Preview" aria-placeholder />

                <form action="/image" method="post" enctype="multipart/form-data">
                    <div id="button-box">
                        <input
                            id="file-selector"
                            type="file"
                            name="image-file"
                            accept="image/jpeg,image/png,image/gif,image/webp"
                        />
                        <label class="btn btn-secondary" for="file-selector">
                            <img class="icon" src="/static/upload.svg" alt="Upload Icon" />Change
                            Picture</label
                        >
                        <button type="submit" value="Upload" class="btn btn-primary">
                            <img class="icon" src="/static/checkmark.svg" alt="Checkmark" /> Confirm
                        </button>
                    </div>
                </form>
            </div>
            <a id="version-lbl" href="https://github.com/ZeusWPI/ZPI">v{{version}}</a>
        </div>
    </body>

    <script>
        var image,
            inputs,
            readURL = function () {
                if (this.files && this.files[0]) {
                    var input = this;
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        image = document.querySelector("#" + input.name);
                        image.src = e.target.result;
                        image.removeAttribute("aria-placeholder");
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            };
        inputs = document.querySelectorAll("input[type=file]");
        for (var i = 0, len = inputs.length; i < len; i++) {
            inputs[i].onchange = readURL;
        }
        function resetImage() {
            fetch("/image", { method: "DELETE" }).then(() => location.reload());
        }
    </script>
</html>
